

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2rem;
}


.boton{
    background-color:coral;
    border-radius: 30px;
    min-width: 3rem;
    min-height: 5rem;
    padding: 2rem;
    border-style: dashed;
    border-color: brown;
    text-decoration-color: aliceblue;
}